.App {
  background-color:#312A30;
  text-align: center;
}
h6{

  
font-size: 15px;

}
h2 {
  
  

  -webkit-animation: fadein 14s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 14s; /* Firefox < 16 */
      -ms-animation: fadein 14s; /* Internet Explorer */
       -o-animation: fadein 14s; /* Opera < 12.1 */
          animation: fadein 14s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.container {
  position: relative;
  
}



.overlay {
  position: absolute;
  bottom: 0;
 	right: 40%;
 right:0;
  background-color: #483C46;
  box-shadow: 9px 0 #DB6B77;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 1s ease;
}

.container:hover .overlay {
  width: 41%;
  right: 0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
} 
  
 
nav {
  position: relative;
  text-align: left;
  transition: none;
  transform: scale(1, 1);
  background: none;
  top: initial;
  left: initial;
  /* end Edge support stuff */
  grid-column: 4/4;
  padding-right: 10px;
  margin-bottom: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

  nav ul {
  display: flex; 
  list-style-type: none;
  margin-left: 250px;
  }

  nav li {
  margin-left: 1em;
  margin-bottom: 0;
  list-style-type: none;
  color:white;
  font-size: 15px;
}

  nav a {
  opacity: 1;
  position: relative; 
  color:white;
  list-style-type: none;
  text-decoration:none;
 
  }

  nav a::before {
  content: "";
  display: block;
  height: 5px;
  background: #BA6D6C;
  position: absolute;
  top: -0.75em;
  left: 0;
  right: 0;
  -moz-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -moz-transition: transform ease-in-out 250ms;
  -o-transition: transform ease-in-out 250ms;
  -webkit-transition: transform ease-in-out 250ms;
  -ms-transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms; }

  nav a:hover::before {
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1); } 


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 1 10s linear;
  }
}

.App-header {
  
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.pxImage1{
  position: relative;
  opacity: 0.90;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.mid h2 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  color: white;
 transition: .5s ease;
  position: absolute;
  right:85px;
  top:125px;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}

.pxImage1 {
     background: linear-gradient(to left,
      rgba(0, 0, 0, 0.829),
      rgba(77, 73, 73, 0.6)
    ), url("https://fulhaus-website-images.s3.us-east-2.amazonaws.com/bkg.png");
background-size: cover;

background-repeat: no-repeat;
min-height: 100%;
max-width: 50%;
  position: relative;
  float: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 320px) {
  
  .pxImage1 
    {
    max-width: 100%;
    width: 650px;
    max-height:65%;
    filter: brightness(1.5);
    width: 450px; 
     height: 320px;


    
  }
  
  .mid h2 {
    font-family: 'Times New Roman', sans-serif;
    font-weight: 520;
    color: white;
    
   
    position: absolute;
    right:95px;
    top:125px;
    font-size: 2rem;
    transform: translate(-50%, -50%);
  }
  nav ul {
   
    margin-left: 55px;
    }
  
  .App{
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right:40px;
    padding-left:40px;
  }
  }
  @media screen and (min-width: 1000px) {
.pxImage1 {
  width: 100%;
  max-width: 1050px;
  height: auto;
     height: 390px;
      width: 650px;
      filter: brightness(1.5);
      /* height: 450px;   */
    }
    body{
      
      margin-right: 150px;
      margin-left: 150px;
    }
  
    .App-header{
      padding-top: 130px;
      padding-bottom: 160px;
     
    }
    nav ul {
   
      margin-left: 250px;
      }
      .mid h2 {
        font-family: 'Times New Roman', sans-serif;
        font-weight: 700;
        color: white;
        transition: .5s ease;
        position: absolute;
        right:200px;
        top:180px;
        font-size: 2.2rem;
        transform: translate(-50%, -50%);
      }
    }

    @media screen and (min-width: 1200px) {
      .pxImage1 {
        
       
       
           height: 530px;
            width: 950px;
            filter: brightness(1.5);
            /* height: 450px;   */
          }
          body{
            
            margin-right: 130px;
            margin-left: 130px;
          }
        
          .App-header{
            padding-top: 60px;
            padding-bottom: 60px;
           
          }
          nav ul {
         
            margin-left: 430px;
            }
            .mid h2 {
              font-family: 'Times New Roman', sans-serif;
              font-weight: 700;
              color: white;
              transition: .5s ease;
              position: absolute;
              right:300px;
              top:250px;
              font-size: 3.2rem;
              transform: translate(-50%, -50%);
            }
            nav li {
              margin-left: 3em;
              margin-bottom: 0;
              list-style-type: none;
              color:white;
              font-size: 15px;
            }
            .container:hover .overlay {
              width: 36%;
              right: 0;
            }
          }